@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

nav {
  background-color: #333;
  overflow: hidden;
  margin-bottom: 15px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #ddd;
  color: black;
}

.informacion{
    background-color: #f1f1f1;
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.detalles{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: aquamarine;
    padding: 1rem;
    width: 100%;
  }

#foto{
    width: 200px;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
}

#foto:hover{
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
}

span{
    font-weight: bold;
    font-size: 1.1rem;
}

button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

li:hover{
  transition: 0.5s ease;
    transform: scale(1.1);
}